<h1>Estadísticas de la aplicación</h1>
<br>
<center>
<table>
<tr><td align="right">Número de preguntas: </td><td><%= statistics.numPreguntas %></td></tr>
<tr><td align="right">Número de comentarios totales: </td><td><%= statistics.numComentarios %></td></tr>
<tr><td align="right">Número medio de comentarios por pregunta: </td><td><%= statistics.promComentarios %></td></tr>
<tr><td align="right">Número de preguntas sin comentarios: </td><td><%= statistics.sinComentarios %></td></tr>
<tr><td align="right">Número de preguntas con comentarios: </td><td><%= statistics.conComentarios %></td></tr>
</table>
</center>
